
<div data-retina="1281x688" id="multiscreen-cont" style="margin-top: -20px;">
          <div class="container">
            <h2 class="gwd">
              追逐梦想、合作梦想
            </h2>
            <p>
              尽在Ruby梦想手绘站
            </p>
          </div>

          <div id="multi-screen-mobile">
            <img alt="Mobile" src="<%= image_url 'happychild.png' %>">
          </div>
          <div id="multi-screen-tablet">
            <img alt="Tablet" src="<%= image_url 'fireballoon.png' %>">
          </div>
</div>


<div id="myCarousel" >
      <!-- Indicators -->
      <div class="carousel-inner">
          <img src="<%= image_url 'banner.jpg' %>">
          <div class="container">
            <div class="carousel-caption">

              <!-- hot jobs -->
              <%= render "hotjobs" %>
              <!-- hot jobs -->

           <%= render "city_images" %>
           <div class="row">
             <p class="pull-right"><a class="btn btn-lg btn-danger" href="/jobs" role="button">查看全部工作</a></p>
           </div>
           </div>

        </div>
     </div>
</div>
