<!DOCTYPE html>
<html>
  <head>
     <title>Ruby梦想手绘站</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body>

           <%= render "common/navbar" %>
           <%= render "common/flashes" %>
           <div id="maia-main" role="main">
              <div class="maia-teleport" id="content"></div>
                   <div class="en" id="home-page">
                   <%= yield%>
              </div>
          </div>

         <div id="maia-signature"></div>

         <div class="maia-footer" id="maia-footer">
               <div id="maia-footer-local">
                 <div class="maia-aux">
                   <div class="ent-footer-top">
                     <div class="share-wrappper">
                     </div>
                   </div>
                   <div class="ent-footer-links">
                      <%= render "welcome/city_images" %>
                   </div>
                   <div id="maia-footer-global">
                   <div class="maia-aux">
                   <%= render "common/footer" %>
                   </div>
               </div>
                 </div>
               </div>
             </div>

  </body>
</html>
