<!DOCTYPE html>
<html>
  <head>
     <title>Ruby梦想手绘站</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body>

           <%= render "common/navbar" %>
           <%= render "common/flashes" %>
           <div id="maia-main" role="main">
                   <div class="maia-teleport" id="content"></div>
                   <div class="en" id="home-page">
           <%= yield%>
           </div>
         </div>


         <%= render "common/footer" %>

  </body>
</html>
